{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm)}}
    <button type="submit" class="btn">Enregistrer</button>

    <a href="{{  path('editProfile') }}" class="btn">Modifier </a>
    {{ form_end(registrationForm)}}


{#        {{ form_row(registrationForm.agreeTerms) }}#}

{% endblock %}
