{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    <div class="row">
        <div class="col-sm-6">
            <div id="profile_pic">
                {% if app.user.photo %}
                    <img src="{{ asset('uploads/profiles/'~user.photo) }}" alt="{{ app.user.prenom }} {{ app.user.nom }}">
                {% else %}
                    <img src="{{ asset('img/image-profile-default.jpg') }}" alt="default image">
                {% endif %}
            </div>
            <a href="{{ path('user_upload') }}">Changer la photo</a><br>
            <a href="{{ path('user_edit_password') }}">Modifier le mot de passe</a>

        </div>
        <div class="col-sm-6">
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}