{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification du profil de :{{ app.user.prenom }} {{ app.user.nom }}</h1>
    <div>Campus : </div>
    <div class="form">
        {{ form(form)}}

        <button>
            <a href="{{ path('editProfile') }}">Modifier</a>
        </button>

    </div>



    {#<div id="profile_img">
       {% if app.user.picture %}
            <img src="{{ asset('uploads/profiles/'~user.picture) }}" alt="{{ user.prenom }} {{ user.nom }}">
        {% else %}
            <img src="{{ asset('img/image-profile-default.jpg') }}" alt="default image">
        {% endif %}
    </div>


    {% if app.user == user %}
        <a href="{{ path('user_edit') }}">Modifié le profil</a><br>
        <a href="{{ path('app.user_upload') }}">Modifié l'image</a><br>
        <a href="{{ path('user_edit_password') }}">Modifié le mot de passe</a>
    {% endif %} #}
{% endblock %}

{% block title %}Profil de {{ app.user.prenom}} {{ app.user.nom }}{% endblock %}