<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<header>

    {% include ('inc/nav.html.twig')%}

</header>
<body>
{% block body %}
<h2>Accueil</h2>
<table>
    <tr>
        <th>Nom de l'événement</th>
        <th>Date de la sortie</th>
        <th>Date limite d'inscription</th>
        <th>Nombre max de participants</th>
        <th>Organisateur</th>
    </tr>
{% for sortie in sorties %}
    <tr>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut |date('d-m-y H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription |date('d-m-y') }}</td>
        <td>{{ sortie.nbInscriptionsMax }}</td>
{#        <td>{{ sortie.etat }}</td>#}
        <td>{{ sortie.organisateur ? 'yes' : '' }}</td>
    </tr>
    {% endfor %}
</table>
    {% endblock %}
</body>
</html>