{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <div>Campus : </div>
    <div class="form">
         <div>Nom : {{ app.user.nom}}</div>
        <div>Prenom : {{ app.user.prenom}}</div>
        <div>Pseudo : {{ app.user.pseudo}}</div>
        <div>Email : {{ app.user.email}}</div>
        <div>Campus : {{ app.user.campus.id}}</div>
        <div>Téléphone : {{ app.user.telephone}}</div>
        <div>Téléphone : {{ app.user.password}}</div>
        <button>
            <a href="{{ path('editProfile') }}">Modifier</a>
        </button>
        <button>
            <a href="{{ path('pass_modifier') }}">Modifier le mot de passe</a>
        </button>
       {#  <button>
            <a href="{{ path('deleteProfile') }}">supprimer</a>
        </button>#}

    </div>



    {#<div id="profile_img">
       {% if app.user.picture %}
            <img src="{{ asset('uploads/profiles/'~user.picture) }}" alt="{{ user.prenom }} {{ user.nom }}">
        {% else %}
            <img src="{{ asset('img/image-profile-default.jpg') }}" alt="default image">
        {% endif %}
    </div>


    {% if app.user == user %}
        <a href="{{ path('user_edit') }}">Modifié le profil</a><br>
        <a href="{{ path('app.user_upload') }}">Modifié l'image</a><br>
        <a href="{{ path('user_edit_password') }}">Modifié le mot de passe</a>
    {% endif %} #}
{% endblock %}

